{{#each posts as |post| }}

{{!-- partial for the post-info that will place all the content in the partial here --}}
{{> post-info post }}
</div>

{{else}}
<h6>
   It looks empty here...
</h6>
{{/each}}