<section class="column is-one-third container">
<h2 class="title has-text-centered">Sign In</h2>
<h1 class="has-text-centered">See what's going on in the tech world!</h1><hr>
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control email-field" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control password-field" id="exampleInputPassword1">
  </div>
  <div class="d-grid gap-2"> 
  <button type="submit" class="btn btn-primary btn-lg signup-form">Sign Up</button>
  <button type="submit" class="btn btn-primary btn-lg login-form">Login</button>
  </div>
</form>
</section>

<!-- javascript file-->
<script src="/javascript/login.js"></script>